{% extends "base.html" %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="avatar">
        {{ form.avatar.label }}<br>
        {{ form.avatar(class="form-control") }}<br>
        {% for error in form.avatar.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p class = "user_registretion_data">
        <p>
            {{ form.login.label }}<br>
            {{ form.login(class="form-control", type="email") }}<br>
            {% for error in form.login.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.patronymic.label }}<br>
            {{ form.patronymic(class="form-control") }}<br>
            {% for error in form.patronymic.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{form.role.label}}<br>
            {{form.role(class="form-control")}}<br>
            {% for error in form.role.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{form.group.label}}<br>
            {{form.group(class="form-control")}}<br>
            {% for error in form.group.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
    </div>
    <p>{{ form.submit(type="submit") }}</p>
    {{message}}
</form>
{% endblock %}
