<!doctype html>
<head>
<title>Тест</title>
<meta charset="utf-8">
<link rel="stylesheet"
type="text/css"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<script lang="JavaScript">
    function checktest(){
        let a = ['a1','a2', 'a3', 'a4', 'a5', 'a6', 'a7', 'a8'
        , 'a9', 'a10', 'a11', 'a12'];
        var res = 0;
        var num = 0;
        for (let ans of a){
            var inp = document.getElementsByName(ans);
             num += 1;
            for (var i = 0; i < inp.length; i++) {
                if (inp[i].checked) {
                    res += parseInt(inp[i].value, 10);
                    break
                }
            }}
        let b = ['b1','b2', 'b3', 'b4', 'b5'];
        for (let ans of b){
            var inp = document.getElementsByName(ans);
            num += 1;
            for (var i = 0; i < inp.length; i++) {
                if (inp[i].checked) {
                    res += parseInt(inp[i].value, 10);
                    break
                }
            }}
        let c_answ = {
            "c1": "ответ",
            "c2.1": "ответ",
            "c2.2": "ответ",
            "c3": "ответ",
            "c4": "ответ",
            "c5": "ответ",
            "c6": "ответ",
            "c7": "ответ",
            "c8": "ответ"
        };
        for (var ans in c_answ){
            var inp = document.getElementsByName(ans)[0].value;
            num += 1;
            if(inp.toLowerCase() == c_answ[ans]){
                res += 1;
            }
        }
        mark = (res / num) * 100;
        if (mark < 70){
            document.getElementsByName("result")[0].value = 2;
            alert("Вы не сдали тест! Ваша оценка - 2");
        }
        else if(mark >= 70 && mark <= 79){
            document.getElementsByName("result")[0].value = 3;
            alert("Вы удовлетворительно сдали тест! Ваша оценка - 3");
        }
        else if(mark > 80 && mark <= 89){
            document.getElementsByName("result")[0].value = 4;
            alert("Вы хорошо сдали тест! Ваша оценка - 4");
        }
        else{
            document.getElementsByName("result")[0].value = 5;
            alert("Вы сдали тест на отлично! Ваша оценка - 5");
        }
        document.getElementsByName("testform")[0].submit()
    }
</script>
<h2>Дочисловая подготовка младших классов</h2>
    <form name="testform" method="post">
        <h3>Ч А С Т Ь А</h3>
        <p>Найдите один неправильный ответ, а в случае его отсутствия укажите: «Неправильного ответа нет».</p>
            <p>А 1. Задачами дочислового периода являются:</p>
            <input type="radio" name="a1" value="0">1) выявление уровня дошкольной математической подготовки;</input><br>
            <input type="radio" name="a1" value="0">2) уточнение и расширение математических представлений детей;</input><br>
            <input type="radio" name="a1" value="1">3) развитие познавательных процессов;</input><br>
            <input type="radio" name="a1" value="0">4) специальная подготовка к введению понятия «число»;</input><br>
            <input type="radio" name="a1" value="0">5) формирование учебной деятельности;</input><br>
            <input type="radio" name="a1" value="0">6) неправильного ответа нет.</input><br>
            <p>А 2. Подготовка младших школьников к изучению чисел ведется по следующим направлениям:</p>
            <input type="radio" name="a2" value="0">1) обучение счету;</input><br>
            <input type="radio" name="a2" value="0">2) уточнение представлений о количественном и порядковом значении числа;</input><br>
            <input type="radio" name="a2" value="1">3) обучение сравнению двух множеств по количеству элементов;</input><br>
            <input type="radio" name="a2" value="0">4) практическое знакомство с операциями объединения и дополнения конечных множеств;</input><br>
            <input type="radio" name="a2" value="0">5) формирование умения решать задачи на нахождение суммы, на нахождение остатка;</input><br>
            <input type="radio" name="a2" value="0">6) уточнение пространственных представлений.</input><br>
            <p>А 3. С целью развития у детей мыслительных действий в период дочисловой подготовки предлагаются специальные упражнения:</p>
            <input type="radio" name="a3" value="0">1) выделение признаков сходства и различия предметов, геометрических фигур и др.;</input><br>
            <input type="radio" name="a3" value="0">2) счет предметов по указанному общему для них признаку;</input><br>
            <input type="radio" name="a3" value="1">3) выделение общего признака у всех рассматриваемых предметов;</input><br>
            <input type="radio" name="a3" value="0">4) классификация предметов по цвету, размеру, форме, назначению;</input><br>
            <input type="radio" name="a3" value="0">5) игры «Найди лишнее» и «Чего не хватает?»;</input><br>
            <input type="radio" name="a3" value="0">6) неправильного ответа нет.</input><br>
            <p>А 4. С целью подготовки детей к написанию цифр предлагается система упражнений:</p>
            <input type="radio" name="a4" value="0">1) обведение контуров;</input><br>
            <input type="radio" name="a4" value="0">2) прописывание некоторых элементов цифр;</input><br>
            <input type="radio" name="a4" value="1">3) раскрашивание и штриховка;</input><br>
            <input type="radio" name="a4" value="0">4) рисование «бордюров»;</input><br>
            <input type="radio" name="a4" value="0">5) составление из геометрических фигур «рисунков» знакомых объектов, например, снеговика, домика и т.п.;</input><br>
            <input type="radio" name="a4" value="0">6) обведение в тетради одной или нескольких клеточек по образцу;</input><br>
            <p>А 5. Подготовкой к операции счета являются упражнения видов:</p>
            <input type="radio" name="a5" value="0">1) заучивание считалок;</input><br>
            <input type="radio" name="a5" value="0">2) составление простейших числовых выражений по иллюстрациям;</input><br>
            <input type="radio" name="a5" value="1">3) разбиение множества на два взаимно дополняющих подмножества, например, красные и не красные, слева и справа и т.п.;</input><br>
            <input type="radio"

            name="a5" value="0">4) практическое выполнение объединения конечных множеств;</input><br>
            <input type="radio" name="a5" value="0">5) выделение общего свойства предметов из данного множества;</input><br>
            <input type="radio" name="a5" value="0">6) неправильного ответа нет.</input><br>
            <p>А 6. Для формирования навыка счета необходимо выполнение учащимися
            достаточного количества разнообразных упражнений, отличительными признаками которых являются:</p>
            <input type="radio" name="a6" value="0">1) характеристическое свойство множества предметов, которые надо сосчитать;</input><br>
            <input type="radio" name="a6" value="0">2) пространственное размещение этих предметов (линейное, по
            замкнутому контуру, по иным конфигурациям);</input><br>
            <input type="radio" name="a6" value="1">3) опора на различные органы чувств (визуально, на слух, на ощупь);</input><br>
            <input type="radio" name="a6" value="0">4) опора на представление (без непосредственного восприятия) множества,
            элементы которого сосчитываются;</input><br>
            <input type="radio" name="a6" value="0">5) единицы счета (по одному, парами и т.п.);</input><br>
            <input type="radio" name="a6" value="0">6) неправильного ответа нет.</input><br>
            <p>А 7. Формированию умения считать способствуют упражнения следующих видов:</p>
            <input type="radio" name="a7" value="0">1) сколько учеников в классе; </input><br>
            <input type="radio" name="a7" value="0">2) сколько колес у автомобиля;</input><br>
            <input type="radio" name="a7" value="1">3) сколько будет 3 плюс 2;</input><br>
            <input type="radio" name="a7" value="0">4) сколько хлопков сделал учитель;</input><br>
            <input type="radio" name="a7" value="0">5) сколько раз присел Коля;</input><br>
            <input type="radio" name="a7" value="0">6) сколько пар тетрадей в стопке.</input><br>
            <p>А8. При обучении счету учителю необходимо обращать внимание учащихся на строгое соблюдение следующих требований:</p>
            <input type="radio" name="a8" value="0">1) счет вести слева направо;</input><br>
            <input type="radio" name="a8" value="0">2) нельзя пропускать предметы;</input><br>
            <input type="radio" name="a8" value="1">3) нельзя один и тот же предмет сосчитывать более одного раза;</input><br>
            <input type="radio" name="a8" value="0">4) счет начинатьс числа «один»;</input><br>
            <input type="radio" name="a8" value="0">5) далее называть все числа по порядку;</input><br>
            <input type="radio" name="a8" value="0">6) ответом на вопрос «Сколько?» является последнее названное при счете число.</input><br>
            <p>А9. При обучении сравнению множеств учащимся предлагается сис-тема упражнений постепенно усложняющихся видов:</p>
            <input type="radio" name="a9" value="0">1) множества располагаются так, чтобы каждый элемент второго множества оказался под одним элементом первого множества;</input><br>
            <input type="radio" name="a9" value="0">2) элементы обоих множеств располагаются линейно, но без очевид-ного разбиения их на пары;</input><br>
            <input type="radio" name="a9" value="1">3) элементы обоих множеств располагаются линейно, но вперемешку (например, круги и квадраты кладутся в каждом из двух рядов);</input><br>
            <input type="radio" name="a9" value="0">4) элементы одного из множеств раскладываются линейно, а другого по произвольной конфигурации;</input><br>
            <input type="radio" name="a9" value="0">5) элементы обоих множеств располагаются в виде неупорядоченных групп;</input><br>
            <input type="radio" name="a9" value="0">6) неправильного ответа нет.</input><br>
            <p>А10. Упражнения на сравнение и на уравнивание двух множеств по количеству составляющих их элементов являются наглядно-действенной основой для осознания детьми:</p>
            <input type="radio" name="a10" value="0">1) конкретного смысла отношений «равно», «больше», «меньше»;</input><br>
            <input type="radio" name="a10" value="0">2) понятий «числовое равенство» и «числовое неравенство»;</input><br>
            <input type="radio" name="a10" value="1">3) конкретного смысла отношений «больше на» и «меньше на»;</input><br>
            <input type="radio" name="a10" value="0">4) взаимосвязи отношений «больше» и «меньше»;</input><br>
            <input

            type="radio" name="a10" value="0">5) конкретного смысла вопросов «На сколько больше?», «На сколько меньше?» и их взаимосвязи;</input><br>
            <input type="radio" name="a10" value="0">6) неправильного ответа нет.</input><br>
            <p>А11. Упражнения в сравнении двух множеств выполняют следую-щие дидактические функции:</p>
            <input type="radio" name="a11" value="0">1) подготовка к введению понятия натурального числа;</input><br>
            <input type="radio" name="a11" value="0">2) формирование навыка счета;</input><br>
            <input type="radio" name="a11" value="1">3) запоминание некоторых табличных случаев сложения;</input><br>
            <input type="radio" name="a11" value="0">4) подготовка к решению арифметических задач с разностными отношениями между числами;</input><br>
            <input type="radio" name="a11" value="0">5) обучение простейшим предматематическим доказательствам утверждений вида: «Яблок больше, чем груш, потому что .....»;</input><br>
            <input type="radio" name="a11" value="0">6) неправильного ответа нет.</input><br>
            <p>А12. При планировании организационных форм работы первоклассников на уроке учитель предусматривает:</p>
            <input type="radio" name="a12" value="0">1) практические упражнения с использованием разнообразного дидактического материала;</input><br>
            <input type="radio" name="a12" value="0">2) сочетание фронтальной работы с аналогичной индивидуальной;</input><br>
            <input type="radio" name="a12" value="1">3) своевременную смену видов деятельности учащихся;</input><br>
            <input type="radio" name="a12" value="0">4) широкое использование игр, игровых ситуаций, занимательных заданий, разнообразных средств наглядности;</input><br>
            <input type="radio" name="a12" value="0">5) более свободное поведение детей;</input><br>
            <input type="radio" name="a12" value="0">6) неправильного ответа нет.</input><br>
        <h3>Ч А С Т Ь B</h3>
        <p>Среди предложенных вариантов ответов укажите один правильный.</p>
            <p>Б 1. К «открытию» правил счета подводят упражнения вида:</p>
            <input type="radio" name="b1" value="0">1) счет неоднородных предметов;</input><br>
            <input type="radio" name="b1" value="0">2) счет парами, тройками или другими группами;</input><br>
            <input type="radio" name="b1" value="1">3) счет предметов, расположенных по замкнутому контуру;</input><br>
            <input type="radio" name="b1" value="0">4) счет предметов, расположенных по строкам или по столбцам;</input><br>
            <input type="radio" name="b1" value="0">5) счет по представлению;</input><br>
            <input type="radio" name="b1" value="0">6) счет по размеру.</input><br>
            <p>Б 2. Упражнения на сравнение множеств по их численности целесообразно начинать со случая, когда:</p>
            <input type="radio" name="b2" value="0">1) оба множества образованы из одних и тех же предметов;</input><br>
            <input type="radio" name="b2" value="0">2) каждое из множеств составлено из однородных предметов (например, в первом – треугольники, а во втором – круги);</input><br>
            <input type="radio" name="b2" value="1">3) каждое из множеств составлено из разнородных предметов, имеющих только один признак различия (например, форма);</input><br>
            <input type="radio" name="b2" value="0">4) каждое из множеств составлено из разнородных предметов, имеющих два признака различия (например, форма и цвет);</input><br>
            <input type="radio" name="b2" value="0">5) оба множества состоят из произвольных предметов;</input><br>
            <input type="radio" name="b2" value="0">6) правильного ответа нет</input><br>
            <p>Б 3. Обучение сравнению множеств следует начинать со способа:</p>
            <input type="radio" name="b3" value="0">1) счет количества предметов в каждом множестве;</input><br>
            <input type="radio" name="b3" value="0">2) визуально, т.е. по месту, занимаемому на плоскости;</input><br>
            <input type="radio" name="b3" value="1">3) образование пар элементов (по одному из каждого множества) посредством их наложения друг на друга;</input><br>
            <input type="radio" name="b3" value="0">4) образование пар элементов посредством их приложения;</input><br>
            <input type="radio" name="b3" value="0">5) образование пар элементов путем соединения их линиями;</input><br>
            <input type="radio" name="b3" value="0">6) правильного ответа нет.</input><br>
            <p>Б 4. При выполнении упражнений на уравнивание двух множеств у учащихся формируется понятие:</p>
            <input type="radio" name="b4" value="0">1) целое и часть;</input><br>
            <input type="radio" name="b4" value="0">2) разность;</input><br>
            <input type="radio" name="b4" value="1">3) столько же или равно;</input><br>
            <input type="radio" name="b4" value="0">4) сложение;</input><br>
            <input type="radio" name="b4" value="0">5) вычитание;</input><br>
            <input type="radio" name="b4" value="0">6) правильного ответа нет.</input><br>
            <p>Б 5. Ведущим методом обучения в дочисловой период является:</p>
            <input type="radio" name="b5" value="0">1) сообщение учителя;</input><br>
            <input type="radio" name="b5" value="0">2) эвристическая беседа; </input><br>
            <input type="radio" name="b5" value="1">3) наблюдение;</input><br>
            <input type="radio" name="b5" value="0">4) практическая работа учащихся; </input><br>
            <input type="radio" name="b5" value="0">5) демонстрация;</input><br>
            <input type="radio" name="b5" value="0">6) правильного ответа нет.</input><br>
        <h3>Ч А С Т Ь С</h3>
        <p>Заполните пропуски в заданиях, если они есть.</p>
            <p>B 1. Счет - это <input type="text" name="c1"> отображение множества предметов, которые
            пересчитываются, на отрезок натурального ряда чисел, начиная с числа один.</p>
            <p>B 2. Сходство количественного и порядкового счета состоит в том, что с помощью как одного, так
                и другого способа счета можно получить ответы сразу на два вопроса: <input type="text" name="c2.1"> ? и <input type="text" name="c2.2"> ?</p>
            <p>B 3. Количественный счет отличается от порядкового тем, что его результат не зависит от <input type="text" name="c3">, в котором ведется счет.</p>
            <p>B 4. Натуральное число – это единственное общее свойство всех <input type="text" name="c4"> множеств.</p>
            <p>B 5. Уверенное овладение операцией счета в дочисловой период необходимо прежде всего для формирования у детей понятия <input type="text" name="c5"></p>
            <p>В 6. В процессе практического установления взаимно однозначного
            соответствия между двумя множествами предметов у детей формируются <input type="text" name="c6"></p>
            <p>В 7. При выполнении упражнений на сравнение множеств необходимо обращать внимание детей на взаимосвязь отношений <input type="text" name="c7"></p>
            <p>В 8. Общей дидактической целью игр с обручами и «Укрась дерево»
            является    формирование у детей умения выполнят <input type="text" name="c8"></p>
        <input type="text" name="result" style="visibility: hidden;">
        <input type="number" name="num_of_test" style="visibility: hidden;" value="1">
    </form>
    <button onclick="checktest();">Сдать тест"</button>